{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} | Create a new Serie
{% endblock %}

{% block body %}
    <div>
        todo: formulaire de création de série

    </div>
{% endblock %}

